.header{
	background-color: #e8e8e8;
	color:#fff;
	padding: 1%;
	text-align: center;
}

.content{
}

header{
	font-size: -webkit-xxx-large;
}

footer{
	background-color: #333;
	height: 10vh;
	color:#fff;
	padding: 0;
	text-align: center;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #666666;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}