 h1{
	color:#000000;
}

body {
    background-color: #000;
}

h2{
	color:red;	
}

h3{
	color:red;	
}
  
.jumbotron { 
 background-color:#f1152b;
}
 
.jumbotron h1 { 
font-size:70px;
font-weight:bold;
font-style: italic;
font-family:'Shift', sans-serif;
}

.jumbotron a { 
font-size:20px;
font-weight:bold; 
font-color:#f1152b;
font-family:'Shift', sans-serif;
}

.voffset1 { margin-top: 13px; }
.btnOffset { margin-top: 30px; }
 
.labelfont{
	font-size:14px;
	font-weight:bold; 
}

.txtfont{
	font-size:14px;
}

.tableheader{
font-size:70px;
font-weight:bold; 
font-color:#000000;
font-family:'Shift', sans-serif;
}

.successMsg{
	font-size:20px;	
	font-weight:bold; 
	font-color:228B22;
}

.navbar-custom {
    background-color: #e6e2d3; 
}
hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
} 
.label-profile{
	margin-top: 5px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #c4b7a6 !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}