body{background:#f9f9f9;}
#wrapper{padding-top:3%}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 rgba(0,0,0,.1); }
.header-top{box-shadow: 0 rgba(0,0,0,.1)}
.full-color-table.full-inverse-table {
    background-color: #f5f5f5;
}

.loadingimg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, .92);
    display: none;
}

.loadingimg:before, .loadingimg:after {
    content: '';
    position: absolute;
    border: 4px solid #d5d5d5;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
}

.loadingimg:after {
    border-bottom-color: #064e98;
    animation: spin .6s linear infinite;
    -webkit-animation: spin .6s linear infinite;
}

@-webkit-keyframes spin { 
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin { 
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
@keyframes spin { 
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
