<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="adminmenu"></th:block>
<style>
.header {
	background-color: lightgray;
	    margin-bottom: 1%;
}
</style>
</head>
<body>
	<form method="post" th:object="${merchantdetails}" th:action="@{/addmerchant}">
		<input class="form-control hidden" th:field="*{merchantid}" />
		<div class="container-fluid">
			<div class="row ">
				<div class=" col-md-6 col-md-offset-3 panel panel-default"
					style="border-style: ridge;">
					<div class="col">
						<div class="card">
							<div class="card-body panel-heading">
								<div class="col-lg-12 header" align="center">
									<h4 class="card-title">Add/Edit Merchant</h4>
								</div>
								<div class="form-row">
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="username">Merchant Name</label>
										</div>
										<div class="col-md-4 ">
											<input class="form-control input-md" th:field="*{name}" /> 
											<label th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="address">Address</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Address" th:field="*{address}" /> 
											<label th:if="${#fields.hasErrors('address')}" class="text-danger" th:errors="*{address}"></label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="City" th:field="*{city}" /> 
											<label th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right"></div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="State" th:field="*{state}" /> 
											<label th:if="${#fields.hasErrors('state')}" class="text-danger" th:errors="*{state}"></label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Zip" th:field="*{zip}" /> 
											<label th:if="${#fields.hasErrors('zip')}" class="text-danger" th:errors="*{zip}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right"></div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Country" th:field="*{country}" /> 
											<label th:if="${#fields.hasErrors('country')}" class="text-danger" th:errors="*{country}"></label>
										</div>
									</div>	
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="phonenumber">Phone Number</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="PhoneNumber" th:field="*{phonenumber}" /> 
											<label th:if="${#fields.hasErrors('phonenumber')}" class="text-danger" th:errors="*{phonenumber}"></label>
										</div>
									</div>

									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="firstname">Name</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="FirstName" th:field="*{firstname}" /> 
											<label th:if="${#fields.hasErrors('firstname')}" class="text-danger" th:errors="*{firstname}"></label>
										</div>

										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="LastName" th:field="*{lastname}" /> 
											<label th:if="${#fields.hasErrors('lastname')}" class="text-danger" th:errors="*{lastname}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="email">Email</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Email" th:field="*{email}" /> 
											<label th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="username">User Credentials</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="UserName" th:field="*{username}" /> 
											<label th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Password" th:field="*{plaintextpass}" /> 
											<label th:if="${#fields.hasErrors('plaintextpass')}" class="text-danger" th:errors="*{plaintextpass}"></label>
										</div>
									</div>

									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="description">Description</label>
										</div>
										<div class="col-md-4">
											<input class="form-control input-md" th:placeholder="Description" th:field="*{description}" /> 
											<label th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></label>
										</div>
									</div>
									<div class="row voffset1">
										<div class="col-md-3 text-right">
											<label class="labelfont" for="deliveryhours">Delivery Hours</label>
										</div>
										<div class="col-lg-4">
											<input class="form-control input-md" th:placeholder="DeliveryHours" th:field="*{deliveryhours}" />
											<label th:if="${#fields.hasErrors('deliveryhours')}" class="text-danger" th:errors="*{deliveryhours}"></label>
										</div>
									</div>
									<div class="row btnOffset">
										<div class="col-md-12" align="center">
											<input class="btn btn-primary  btn-md" type="submit"name="save" value="save" /> 
											<input class="btn btn-primary  btn-md" type="submit" name="cancel" value="cancel" />
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>