<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
 <head> 
    <th:block th:include="header"></th:block> 
</head>  
<body>
<nav class="navbar navbar-custom">
    <div class="navbar-collapse collapse ">
   			<ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="#" th:href="@{/viewmerchant}"><h4>uDeli</h4></a>
                </li>
 				  <li class="nav-item">
 				  	<a th:href="@{/addmerchant}" href="#"><h4>ADD Merchant</h4></a>
        	     </li>
        	</ul>
        	<ul class="nav navbar-nav navbar-right">
           			 <li class="nav-item"><a>
                       <h4> <span class="glyphicon glyphicon-user" aria-hidden="true"></span><label th:text="${userName}"></label></h4></a>
            	    </li>
                	<li class="nav-item">
                    	<a th:href="@{/logout}">
                        <h4><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</h4>
                    	</a>
                	</li>
            </ul>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>