<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
 	<th:block th:include="merchantmenu"></th:block> 
 	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("closeOrders");
  filter = input.value.toUpperCase();
  table = document.getElementById("closedTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("closedTable");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;      
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
	</head> 
<body>	 

<form method="post" th:object="${OrderDetails}">
<div class="container-fluid" >
<div>
  <label th:if="${SUCCESS_MESSAGE != null}" class="text-success" th:text="${SUCCESS_MESSAGE}"> </label>
 </div>
 <div id="wrapper" class="animate">
    <div class="container-fluid">
      <div class="row">
      <div class="panel panel-default">
        <div class="col">
          <div class="card">
            <div class="card-body panel-heading">
            <div class="col-lg-12">
            <div class="col-lg-8" align="left">
              <h4 class="card-title">Closed Orders List</h4>
               </div>
             <div class="col-lg-4">
               <input class="form-control" id="closeOrders" type="text" onkeyup="myFunction()" placeholder="Search with customer name...">
             </div> 
             </div>
              <table class="table full-color-table full-inverse-table table-striped table-hover" id="closedTable">
                <thead>
                  <tr>
                    <th class="labelfont" scope="col" onclick="sortTable(0)">Order Title</th>
                    <th class="labelfont" scope="col" onclick="sortTable(1)">Customer Name</th>
                    <th class="labelfont" scope="col" onclick="sortTable(2)">Address</th>
                    <th class="labelfont" scope="col" onclick="sortTable(3)">Phone Number</th>
                    <th class="labelfont" scope="col" onclick="sortTable(4)">Email</th>
                    <th class="labelfont" scope="col" onclick="sortTable(5)">Number Of Bags</th>
                    <th class="labelfont" scope="col" onclick="sortTable(6)">Total Weight</th>
                    <th class="labelfont" scope="col" onclick="sortTable(7)">Distance</th>
                    <th class="labelfont" scope="col" onclick="sortTable(8)">Status</th>
                    <th class="labelfont" scope="col" onclick="sortTable(9)">Carrier Name</th>
                  </tr>
                </thead>
                <tbody>
                 <tr th:each="ordersList, rowStat: ${ordersList}">	 		 
	 				<td class="txtfont" th:text="${ordersList.ordertitle}"></td> 
					<td class="txtfont" th:text="${ordersList.customername}"></td>
					<td class="txtfont" th:text="${ordersList.address}"></td> 
	        		<td class="txtfont" th:text="${ordersList.phonenumber}"></td>
					<td class="txtfont" th:text="${ordersList.email}"></td>
					<td class="txtfont" th:text="${ordersList.numberofbags}"></td> 
	        		<td class="txtfont" th:text="${ordersList.totalweight}"></td>
					<td class="txtfont" th:text="${ordersList.storetocustlocation}"></td>
					<td class="txtfont" th:text="${ordersList.stutes_text}"></td>
					<td class="txtfont" th:text="${ordersList.carrier_name}"></td>
				</tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</body>
</html>
