<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
 	<th:block th:include="merchantmenu"></th:block> 
</head>
<body> 
<form method="post" th:object="${CarrierDetails}">

  <label th:if="${SUCCESS_MESSAGE != null}" class="text-success" th:text="${SUCCESS_MESSAGE}"> </label>
 </div>
 <div id="wrapper" class="animate">
    <div class="container-fluid">
      <div class="row">
      <div class="panel panel-default">
        <div class="col">
          <div class="card">
            <div class="card-body panel-heading">
              <h4 class="card-title">Denied Carrier Details List</h4>
				<table class="table full-color-table full-inverse-table table-striped table-hover">
					<thead>
						<tr>
						<td class="labelfont" scope="col"> Name</td>
						<td class="labelfont" scope="col"> Address</td>
						<td class="labelfont" scope="col"> EmailId</td>
						<td class="labelfont" scope="col"> Phonenumber</td>
						<td class="labelfont" scope="col"></td>
						</tr>
					</thead>
					<tbody>			
	 					<tr th:each="carriersList, rowStat: ${carriersList}">
	 					<td class="txtfont" th:text="${carriersList.name}"></td>
	 					<td class="txtfont" th:text="${carriersList.address}"></td>
	        			<td class="txtfont" th:text="${carriersList.emailid}"></td>
						<td class="txtfont" th:text="${carriersList.phonenumber}"></td>
						<td class="txtfont" > <a th:href="@{'/approvedenyedcarrier?carrierid='+ ${carriersList.carrierid} + '&active='+ ${1}}"> Approve </a></td>
    					</tr>
    				</tbody>
				</table>
				 </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</body>
</html>